* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3e5d7;
    padding: 40px 20px;
}

.card-receita {
    background-color: #ffffff;
    max-width: 736px;
    margin-inline: auto;
    margin-block: 64px;
    padding: 40px;
    border-radius: 24px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin-bottom: 40px;
}